# Extract

In [1]:
import os
import findspark

findspark.init()
from pyspark.sql import SparkSession

os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"
import pyspark.pandas as ps
import pandas as pd
import pyodbc
from pyspark.sql import functions as F
from pyspark.sql.functions import *
from pyspark.sql import Window
from pyspark.sql.types import *
import xml.etree.ElementTree as ET


def create_database_connection():
    the_spark = (
        SparkSession.builder.appName("SparkSQL")
        .config("spark.hadoop.home.dir", "C:/Hadoop/")
        .getOrCreate()
    )
    the_spark.sparkContext._jvm.java.lang.System.setProperty(
        "java.library.path",
        "./sqljdbc_12.4/enu/auth/x64/mssql-jdbc_auth-12.4.1.x64.dll",
    )
    return the_spark


def load_jdbc(spark, db):
    sql_query = "SELECT table_schema + '.' + table_name AS full_table_name FROM information_schema.tables WHERE table_type = 'BASE TABLE' AND table_schema + '.' + table_name NOT IN ('dbo.DatabaseLog', 'dbo.ErrorLog', 'dbo.AWBuildVersion', 'dbo.sysdiagrams')"
    df = (
        spark.read.format("jdbc")
        .option(
            "url",
            f"jdbc:sqlserver://localhost:1433;databaseName={db};integratedSecurity=true;encrypt=true;trustServerCertificate=true;authenticationScheme=nativeAuthentication",
        )
        .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver")
        .option("user", "INSPIRON7620\dpl2k")
        .option("password", "")
        .option("query", sql_query)
        .load()
    )
    return df


def extract(spark, db):
    try:
        table_dataframes = {}
        dfs = load_jdbc(spark, db)
        data_collect = dfs.collect()
        for row in data_collect:
            tbl_name = row["full_table_name"]
            variable_name = tbl_name.split(".")[1] + "Df"
            table_df = (
                my_spark.read.format("jdbc")
                .option(
                    "url",
                    f"jdbc:sqlserver://localhost:1433;databaseName={db};integratedSecurity=true;encrypt=true;trustServerCertificate=true;authenticationScheme=nativeAuthentication",
                )
                .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver")
                .option("user", "INSPIRON7620\dpl2k")
                .option("password", "")
                .option("dbtable", tbl_name)
                .load()
            )
            table_dataframes[variable_name] = table_df
        print("Data extract completed successfully.")
        return table_dataframes
    except Exception as e:
        print("Data extract error: " + str(e))
        return {}


my_spark = create_database_connection()
my_dfs = extract(my_spark, "CompanyX")
category_df = my_dfs["ProductCategoryDf"]
subcategory_df = my_dfs["ProductSubcategoryDf"]
territory_df = my_dfs["SalesTerritoryDf"]
order_detail_df = my_dfs["SalesOrderDetailDf"]
order_header_df = my_dfs["SalesOrderHeaderDf"]
product_df = my_dfs["ProductDf"]
currency_df = my_dfs["CurrencyDf"]
promotion_df = my_dfs["SpecialOfferDf"]
country_region_df = my_dfs["CountryRegionDf"]
state_province_df = my_dfs["StateProvinceDf"]
address_df = my_dfs["AddressDf"]
employee_df = my_dfs["EmployeeDf"]
person_df = my_dfs["PersonDf"]
business_entity_df = my_dfs["BusinessEntityDf"]
business_entity_address_df = my_dfs["BusinessEntityAddressDf"]
store_df = my_dfs["StoreDf"]
customer_df = my_dfs["CustomerDf"]
product_list_price_history_df = my_dfs["ProductListPriceHistoryDf"]
product_cost_history_df = my_dfs["ProductCostHistoryDf"]

# store_df.printSchema()
# category_df.printSchema()
# subcategory_df.printSchema()
# territory_df.printSchema()
# order_detail_df.printSchema()
# order_header_df.printSchema()
# product_df.printSchema()

Data extract completed successfully.

# Transform

### DimProductCategory

In [2]:
DimProductCategory = category_df.drop("rowguid", "ModifiedDate")
DimProductCategory = DimProductCategory.withColumnsRenamed(
    {"ProductCategoryID": "ProductCategoryKey", "Name": "ProductCategoryName"}
)
DimProductCategory = DimProductCategory.withColumn(
    "ProductCategoryAlternateKey", DimProductCategory.ProductCategoryKey
)
DimProductCategory = DimProductCategory.select(
    "ProductCategoryKey", "ProductCategoryAlternateKey", "ProductCategoryName"
)
DimProductCategory.printSchema()

root
 |-- ProductCategoryKey: integer (nullable = true)
 |-- ProductCategoryAlternateKey: integer (nullable = true)
 |-- ProductCategoryName: string (nullable = true)

### DimProductSubcategory

In [3]:
DimProductSubcategory = subcategory_df.drop("rowguid", "ModifiedDate")
DimProductSubcategory = DimProductSubcategory.withColumnsRenamed(
    {
        "ProductSubcategoryID": "ProductSubcategoryKey",
        "ProductCategoryID": "ProductCategoryKey",
        "Name": "ProductSubcategoryName",
    }
)
DimProductSubcategory = DimProductSubcategory.withColumn(
    "ProductSubcategoryAlternateKey", DimProductSubcategory.ProductSubcategoryKey
)
DimProductSubcategory = DimProductSubcategory.select(
    "ProductSubcategoryKey",
    "ProductSubcategoryAlternateKey",
    "ProductCategoryKey",
    "ProductSubcategoryName",
)
DimProductSubcategory.printSchema()

root
 |-- ProductSubcategoryKey: integer (nullable = true)
 |-- ProductSubcategoryAlternateKey: integer (nullable = true)
 |-- ProductCategoryKey: integer (nullable = true)
 |-- ProductSubcategoryName: string (nullable = true)

### DimSalesTerritory

In [4]:
territory_df = territory_df.drop(
    "SalesYTD", "SalesLastYear", "CostYTD", "CostLastYear", "rowguid", "ModifiedDate"
)

country_region_df = country_region_df.drop("ModifiedDate")

DimSalesTerritory = territory_df.join(
    country_region_df,
    territory_df.CountryRegionCode == country_region_df.CountryRegionCode,
    how="inner",
)

DimSalesTerritory = DimSalesTerritory.select(
    territory_df.TerritoryID,
    territory_df.Name,
    territory_df.CountryRegionCode,
    territory_df.Group,
    country_region_df.Name.alias("CountryRegionName"),
)

DimSalesTerritory = DimSalesTerritory.withColumnsRenamed(
    {
        "TerritoryID": "SalesTerritoryKey",
        "Name": "SalesTerritoryRegion",
        "Group": "SalesTerritoryGroup",
        "CountryRegionName": "SalesTerritoryCountry",
    }
)

DimSalesTerritory = DimSalesTerritory.withColumn(
    "SalesTerritoryAlternateKey", DimSalesTerritory.SalesTerritoryKey
)

DimSalesTerritory = DimSalesTerritory.drop("CountryRegionCode")

DimSalesTerritory = DimSalesTerritory.select(
    "SalesTerritoryKey",
    "SalesTerritoryAlternateKey",
    "SalesTerritoryRegion",
    "SalesTerritoryCountry",
    "SalesTerritoryGroup",
).orderBy("SalesTerritoryKey")

DimSalesTerritory.printSchema()
DimSalesTerritory.show()

root
 |-- SalesTerritoryKey: integer (nullable = true)
 |-- SalesTerritoryAlternateKey: integer (nullable = true)
 |-- SalesTerritoryRegion: string (nullable = true)
 |-- SalesTerritoryCountry: string (nullable = true)
 |-- SalesTerritoryGroup: string (nullable = true)

+-----------------+--------------------------+--------------------+---------------------+-------------------+
|SalesTerritoryKey|SalesTerritoryAlternateKey|SalesTerritoryRegion|SalesTerritoryCountry|SalesTerritoryGroup|
+-----------------+--------------------------+--------------------+---------------------+-------------------+
|                1|                         1|           Northwest|        United States|      North America|
|                2|                         2|           Northeast|        United States|      North America|
|                3|                         3|             Central|        United States|      North America|
|                4|                         4|           Southwest|        United States|      North America|
|                5|                         5|           Southeast|        United States|      North America|
|                6|                         6|              Canada|               Canada|      North America|
|                7|                         7|              France|               France|             Europe|
|                8|                         8|             Germany|              Germany|             Europe|
|                9|                         9|           Australia|            Australia|            Pacific|
|               10|                        10|United Kingdom HA...|       United Kingdom|             Europe|
+-----------------+--------------------------+--------------------+---------------------+-------------------+

### DimDiscount

In [5]:
DimDiscount = promotion_df.drop("rowguid", "ModifiedDate")
DimDiscount = DimDiscount.withColumnsRenamed(
    {
        "SpecialOfferID": "DiscountKey",
        "Description": "DiscountName",
        "Type": "DiscountType",
        "Category": "DiscountCategory",
    }
)
DimDiscount = DimDiscount.withColumn("DiscountAlternateKey", DimDiscount.DiscountKey)
DimDiscount = DimDiscount.select(
    "DiscountKey",
    "DiscountAlternateKey",
    "DiscountName",
    "DiscountPct",
    "DiscountType",
    "DiscountCategory",
    "StartDate",
    "EndDate",
    "MinQty",
    "MaxQty",
)
DimDiscount = DimDiscount.withColumn(
    "MaxQty", F.when(DimDiscount["MaxQty"] == -24, 24).otherwise(DimDiscount["MaxQty"])
)
DimDiscount.printSchema()
DimDiscount.show()

root
 |-- DiscountKey: integer (nullable = true)
 |-- DiscountAlternateKey: integer (nullable = true)
 |-- DiscountName: string (nullable = true)
 |-- DiscountPct: decimal(10,4) (nullable = true)
 |-- DiscountType: string (nullable = true)
 |-- DiscountCategory: string (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- MinQty: integer (nullable = true)
 |-- MaxQty: integer (nullable = true)

+-----------+--------------------+--------------------+-----------+--------------------+----------------+-------------------+-------------------+------+------+
|DiscountKey|DiscountAlternateKey|        DiscountName|DiscountPct|        DiscountType|DiscountCategory|          StartDate|            EndDate|MinQty|MaxQty|
+-----------+--------------------+--------------------+-----------+--------------------+----------------+-------------------+-------------------+------+------+
|          1|                   1|         No Discount|     0.0000|         No Discount|     No Discount|2011-05-01 00:00:00|2014-11-30 00:00:00|     0|  null|
|          2|                   2|Volume Discount 1...|     0.0200|     Volume Discount|        Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    11|    14|
|          3|                   3|Volume Discount 1...|     0.0500|     Volume Discount|        Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    15|    24|
|          4|                   4|Volume Discount 2...|     0.1000|     Volume Discount|        Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    25|    40|
|          5|                   5|Volume Discount 4...|     0.1500|     Volume Discount|        Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    41|    60|
|          6|                   6|Volume Discount o...|     0.2000|     Volume Discount|        Reseller|2011-05-31 00:00:00|2014-05-30 00:00:00|    61|  null|
|          7|                   7|Mountain-100 Clea...|     0.3500|Discontinued Product|        Reseller|2012-04-13 00:00:00|2012-05-29 00:00:00|     0|  null|
|          8|                   8|Sport Helmet Disc...|     0.1000|   Seasonal Discount|        Reseller|2012-05-30 00:00:00|2012-06-29 00:00:00|     0|  null|
|          9|                   9|  Road-650 Overstock|     0.3000|    Excess Inventory|        Reseller|2012-05-30 00:00:00|2012-07-30 00:00:00|     0|  null|
|         10|                  10|  Mountain Tire Sale|     0.5000|    Excess Inventory|        Customer|2013-05-14 00:00:00|2013-07-29 00:00:00|     0|  null|
|         11|                  11|Sport Helmet Disc...|     0.1500|   Seasonal Discount|        Reseller|2013-05-30 00:00:00|2013-06-29 00:00:00|     0|  null|
|         12|                  12|  LL Road Frame Sale|     0.3500|    Excess Inventory|        Reseller|2013-05-30 00:00:00|2013-07-14 00:00:00|     0|  null|
|         13|                  13|Touring-3000 Prom...|     0.1500|         New Product|        Reseller|2013-05-30 00:00:00|2013-08-29 00:00:00|     0|  null|
|         14|                  14|Touring-1000 Prom...|     0.2000|         New Product|        Reseller|2013-05-30 00:00:00|2013-08-29 00:00:00|     0|  null|
|         15|                  15|Half-Price Pedal ...|     0.5000|   Seasonal Discount|        Customer|2013-07-14 00:00:00|2012-08-14 00:00:00|     0|  null|
|         16|                  16|Mountain-500 Silv...|     0.4000|Discontinued Product|        Reseller|2014-03-31 00:00:00|2013-05-30 00:00:00|     0|  null|
+-----------+--------------------+--------------------+-----------+--------------------+----------------+-------------------+-------------------+------+------+

### DimAddress

In [6]:
# Define window specifications
windowSpec1 = Window.partitionBy(
    address_df["PostalCode"], address_df["City"], address_df["StateProvinceID"]
).orderBy(state_province_df["Name"], country_region_df["CountryRegionCode"])
windowSpec2 = Window.orderBy(
    address_df["PostalCode"], address_df["City"], address_df["StateProvinceID"]
)

# Perform the joins
join_df = address_df.join(
    state_province_df,
    address_df.StateProvinceID == state_province_df.StateProvinceID,
    "inner",
).join(
    country_region_df,
    state_province_df.CountryRegionCode == country_region_df.CountryRegionCode,
    "inner",
)

# Apply the row number function for RankedAddresses
ranked_addresses_df = join_df.withColumn("rn", row_number().over(windowSpec1))

# Filter and create a new AddressID
DimAddress = (
    ranked_addresses_df.filter(col("rn") == 1)
    .withColumn("NewAddressID", row_number().over(windowSpec2))
    .select(
        col("NewAddressID").alias("AddressKey"),
        address_df["City"],
        address_df["StateProvinceID"].alias("StateProvinceCode"),
        state_province_df["CountryRegionCode"],
        country_region_df["Name"].alias("CountryRegionName"),
        address_df["PostalCode"],
        state_province_df["TerritoryID"].alias("SalesTerritoryKey"),
    )
)

# Show the result
DimAddress.printSchema()
DimAddress.show()

root
 |-- AddressKey: integer (nullable = false)
 |-- City: string (nullable = true)
 |-- StateProvinceCode: integer (nullable = true)
 |-- CountryRegionCode: string (nullable = true)
 |-- CountryRegionName: string (nullable = true)
 |-- PostalCode: string (nullable = true)
 |-- SalesTerritoryKey: integer (nullable = true)

+----------+-------------+-----------------+-----------------+-----------------+----------+-----------------+
|AddressKey|         City|StateProvinceCode|CountryRegionCode|CountryRegionName|PostalCode|SalesTerritoryKey|
+----------+-------------+-----------------+-----------------+-----------------+----------+-----------------+
|         1|      Dresden|               19|               DE|          Germany|     01071|                8|
|         2|       Saugus|               30|               US|    United States|     01906|                2|
|         3|      Norwood|               30|               US|    United States|     02062|                2|
|         4|     Wrentham|               30|               US|    United States|     02093|                2|
|         5|       Boston|               30|               US|    United States|     02113|                2|
|         6|    Cambridge|               30|               US|    United States|     02139|                2|
|         7|    Braintree|               30|               US|    United States|     02184|                2|
|         8|     Randolph|               30|               US|    United States|     02368|                2|
|         9|      Warwick|               65|               US|    United States|     02889|                2|
|        10|West Kingston|               65|               US|    United States|     02892|                2|
|        11|   Woonsocket|               65|               US|    United States|     02895|                2|
|        12|       Nashua|               46|               US|    United States|     03064|                2|
|        13|     Hooksett|               46|               US|    United States|     03106|                2|
|        14|       Tilton|               46|               US|    United States|     03276|                2|
|        15|     Plaistow|               46|               US|    United States|     03865|                2|
|        16|      Kittery|               33|               US|    United States|     03904|                2|
|        17|      Leipzig|               53|               DE|          Germany|     04139|                8|
|        18|    Eilenburg|               85|               DE|          Germany|     04838|                8|
|        19|   Farmington|               11|               US|    United States|     06032|                2|
|        20|      Milford|               11|               US|    United States|     06460|                2|
+----------+-------------+-----------------+-----------------+-----------------+----------+-----------------+
only showing top 20 rows

### DimEmployee

In [7]:
# Perform the joins
join_df = (
    employee_df.join(
        business_entity_address_df,
        employee_df.BusinessEntityID == business_entity_address_df.BusinessEntityID,
        "inner",
    )
    .join(
        address_df,
        address_df.AddressID == business_entity_address_df.AddressID,
        "inner",
    )
    .join(
        state_province_df,
        state_province_df.StateProvinceID == address_df.StateProvinceID,
        "inner",
    )
    .join(
        person_df, person_df.BusinessEntityID == employee_df.BusinessEntityID, "inner"
    )
)

# Selecting and transforming the columns as per the SQL query
DimEmployee = join_df.select(
    employee_df["BusinessEntityID"],
    state_province_df["TerritoryID"],
    employee_df["NationalIDNumber"],
    person_df["FirstName"],
    person_df["MiddleName"],
    person_df["LastName"],
    employee_df["Gender"],
    employee_df["JobTitle"],
    employee_df["BirthDate"],
    employee_df["HireDate"],
    employee_df["CurrentFlag"].alias("ActiveFlag"),
    when(person_df["PersonType"] == "SP", True)
    .otherwise(False)
    .alias("SalesPersonFlag"),
).orderBy(employee_df["BusinessEntityID"])

DimEmployee = DimEmployee.withColumnsRenamed(
    {
        "BusinessEntityID": "EmployeeKey",
        "TerritoryID": "SalesTerritoryKey",
        "NationalIDNumber": "EmployeeNumber",
        "FirstName": "FirstName",
        "MiddleName": "MiddleName",
        "LastName": "LastName",
        "Gender": "Gender",
        "JobTitle": "Title",
        "BirthDate": "BirthDate",
        "HireDate": "HireDate",
        "CurrentFlag": "ActiveFlag",
        "SalesPersonFlag": "SalesPersonFlag",
    }
)

# Show the result
DimEmployee.show()
DimEmployee.printSchema()

+-----------+-----------------+--------------+---------+----------+----------+------+--------------------+----------+----------+----------+---------------+
|EmployeeKey|SalesTerritoryKey|EmployeeNumber|FirstName|MiddleName|  LastName|Gender|               Title| BirthDate|  HireDate|ActiveFlag|SalesPersonFlag|
+-----------+-----------------+--------------+---------+----------+----------+------+--------------------+----------+----------+----------+---------------+
|          1|                1|     295847284|      Ken|         J|   SÃ¡nchez|     M|Chief Executive O...|1969-01-29|2009-01-14|      true|          false|
|          2|                1|     245797967|    Terri|       Lee|     Duffy|     F|Vice President of...|1971-08-01|2008-01-31|      true|          false|
|          3|                1|     509647174|  Roberto|      null|Tamburello|     M| Engineering Manager|1974-11-12|2007-11-11|      true|          false|
|          4|                3|     112457891|      Rob|      null|   Walters|     M|Senior Tool Designer|1974-12-23|2007-12-05|      true|          false|
|          5|                1|     695256908|     Gail|         A|  Erickson|     F|     Design Engineer|1952-09-27|2008-01-06|      true|          false|
|          6|                1|     998320692|   Jossef|         H|  Goldberg|     M|     Design Engineer|1959-03-11|2008-01-24|      true|          false|
|          7|                1|     134969118|    Dylan|         A|    Miller|     M|Research and Deve...|1987-02-24|2009-02-08|      true|          false|
|          8|                1|     811994146|    Diane|         L|  Margheim|     F|Research and Deve...|1986-06-05|2008-12-29|      true|          false|
|          9|                1|     658797903|     Gigi|         N|   Matthew|     F|Research and Deve...|1979-01-21|2009-01-16|      true|          false|
|         10|                4|     879342154|  Michael|      null|    Raheem|     M|Research and Deve...|1984-11-30|2009-05-03|      true|          false|
|         11|                1|     974026903|   Ovidiu|         V|   Cracium|     M|Senior Tool Designer|1978-01-17|2010-12-05|      true|          false|
|         12|                1|     480168528|  Thierry|         B|    D'Hers|     M|       Tool Designer|1959-07-29|2007-12-11|      true|          false|
|         13|                1|     486228782|   Janice|         M|    Galvin|     F|       Tool Designer|1989-05-28|2010-12-23|      true|          false|
|         14|                1|      42487730|  Michael|         I|  Sullivan|     M|Senior Design Eng...|1979-06-16|2010-12-30|      true|          false|
|         15|                1|      56920285|   Sharon|         B| Salavaria|     F|     Design Engineer|1961-05-02|2011-01-18|      true|          false|
|         16|                1|      24756624|    David|         M|   Bradley|     M|   Marketing Manager|1975-03-19|2007-12-20|      true|          false|
|         17|                1|     253022876|    Kevin|         F|     Brown|     M| Marketing Assistant|1987-05-03|2007-01-26|      true|          false|
|         18|                1|     222969461|     John|         L|      Wood|     M|Marketing Specialist|1978-03-06|2011-02-07|      true|          false|
|         19|                1|      52541318|     Mary|         A|   Dempsey|     F| Marketing Assistant|1978-01-29|2011-02-14|      true|          false|
|         20|                1|     323403273|   Wanida|         M|  Benshoof|     F| Marketing Assistant|1975-03-17|2011-01-07|      true|          false|
+-----------+-----------------+--------------+---------+----------+----------+------+--------------------+----------+----------+----------+---------------+
only showing top 20 rows

root
 |-- EmployeeKey: integer (nullable = true)
 |-- SalesTerritoryKey: integer (nullable = true)
 |-- EmployeeNumber: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- MiddleName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- BirthDate: date (nullable = true)
 |-- HireDate: date (nullable = true)
 |-- ActiveFlag: boolean (nullable = true)
 |-- SalesPersonFlag: boolean (nullable = false)

### DimProduct

In [8]:
DimProduct = (
    product_df.alias("p")
    .select(
        F.col("p.ProductID").alias("ProductKey"),
        F.col("p.ProductNumber").alias("ProductAlternateKey"),
        F.col("p.ProductSubcategoryID").alias("ProductSubcategoryKey"),
        F.col("p.Name").alias("ProductName"),
        F.col("p.StandardCost"),
        F.col("p.ListPrice"),
        F.col("p.Class"),
        F.col("p.Style"),
        F.col("p.ProductLine"),
        F.col("p.SellStartDate").alias("StartDate"),
        F.col("p.SellEndDate").alias("EndDate"),
    )
    .orderBy("ProductKey", "StartDate")
)

DimProduct.printSchema()
DimProduct.show()

root
 |-- ProductKey: integer (nullable = true)
 |-- ProductAlternateKey: string (nullable = true)
 |-- ProductSubcategoryKey: integer (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- StandardCost: decimal(19,4) (nullable = true)
 |-- ListPrice: decimal(19,4) (nullable = true)
 |-- Class: string (nullable = true)
 |-- Style: string (nullable = true)
 |-- ProductLine: string (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)

+----------+-------------------+---------------------+--------------------+------------+---------+-----+-----+-----------+-------------------+-------+
|ProductKey|ProductAlternateKey|ProductSubcategoryKey|         ProductName|StandardCost|ListPrice|Class|Style|ProductLine|          StartDate|EndDate|
+----------+-------------------+---------------------+--------------------+------------+---------+-----+-----+-----------+-------------------+-------+
|         1|            AR-5381|                 null|     Adjustable Race|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|         2|            BA-8327|                 null|        Bearing Ball|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|         3|            BE-2349|                 null|     BB Ball Bearing|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|         4|            BE-2908|                 null|Headset Ball Bear...|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       316|            BL-2036|                 null|               Blade|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       317|            CA-5965|                 null|         LL Crankarm|      0.0000|   0.0000|   L | null|       null|2008-04-30 00:00:00|   null|
|       318|            CA-6738|                 null|         ML Crankarm|      0.0000|   0.0000|   M | null|       null|2008-04-30 00:00:00|   null|
|       319|            CA-7457|                 null|         HL Crankarm|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       320|            CB-2903|                 null|     Chainring Bolts|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       321|            CN-6137|                 null|       Chainring Nut|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       322|            CR-7833|                 null|           Chainring|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       323|            CR-9981|                 null|          Crown Race|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       324|            CS-2812|                 null|         Chain Stays|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       325|            DC-8732|                 null|             Decal 1|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       326|            DC-9824|                 null|             Decal 2|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       327|            DT-2377|                 null|           Down Tube|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       328|            EC-M092|                 null|   Mountain End Caps|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       329|            EC-R098|                 null|       Road End Caps|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       330|            EC-T209|                 null|    Touring End Caps|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
|       331|            FE-3760|                 null|            Fork End|      0.0000|   0.0000| null| null|       null|2008-04-30 00:00:00|   null|
+----------+-------------------+---------------------+--------------------+------------+---------+-----+-----+-----------+-------------------+-------+
only showing top 20 rows

### DimReseller

In [10]:
def extract_xml_values(xml_string, element_name):
    try:
        root = ET.fromstring(xml_string)
        namespace = (
            "http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/StoreSurvey"
        )
        value = root.find(".//{%s}%s" % (namespace, element_name)).text
        return value
    except:
        return None


# Define the UDFs
extract_business_type_udf = F.udf(
    lambda xml: extract_xml_values(xml, "BusinessType"), returnType=StringType()
)
extract_specialty_udf = F.udf(
    lambda xml: extract_xml_values(xml, "Specialty"), returnType=StringType()
)
extract_year_opened_udf = F.udf(
    lambda xml: int(extract_xml_values(xml, "YearOpened")), returnType=IntegerType()
)
extract_number_employees_udf = F.udf(
    lambda xml: int(extract_xml_values(xml, "NumberEmployees")),
    returnType=IntegerType(),
)
store_survey_df = store_df.select(F.col("BusinessEntityID"), F.col("Demographics"))
# Apply the UDFs to the DataFrame
ha_df = (
    store_survey_df.withColumn(
        "BusinessType", extract_business_type_udf("Demographics")
    )
    .withColumn("Specialty", extract_specialty_udf("Demographics"))
    .withColumn("YearOpened", extract_year_opened_udf("Demographics"))
    .withColumn("NumberEmployees", extract_number_employees_udf("Demographics"))
)

# Show the result
ha_df = ha_df.drop("Demographics")

DimReseller = (
    customer_df.alias("customer")
    .join(
        store_df.alias("store"),
        F.col("customer.StoreID") == F.col("store.BusinessEntityID"),
        "inner",
    )
    .join(
        order_header_df.alias("order_header"),
        F.col("order_header.CustomerID") == F.col("customer.CustomerID"),
        "inner",
    )
    .join(
        business_entity_address_df.alias("business_entity_address"),
        F.col("store.BusinessEntityID")
        == F.col("business_entity_address.BusinessEntityID"),
        "inner",
    )
    .join(
        address_df.alias("address"),
        F.col("business_entity_address.AddressID") == F.col("address.AddressID"),
        "inner",
    )
    .join(
        DimAddress.alias("dim_address"),
        (F.col("dim_address.PostalCode") == F.col("address.PostalCode"))
        & (F.col("dim_address.City") == F.col("address.City"))
        & (F.col("dim_address.StateProvinceCode") == F.col("address.StateProvinceID")),
        "inner",
    )
    .join(
        ha_df.alias("ha_df"),
        F.col("store.BusinessEntityID") == F.col("ha_df.BusinessEntityID"),
        "left_outer",
    )
    .filter(
        (F.col("customer.PersonID").isNotNull())
        & (F.col("customer.StoreID").isNotNull())
        & (F.col("order_header.Status") == 5)
    )
    .groupBy(
        F.col("dim_address.AddressKey"),
        F.col("customer.AccountNumber"),
        F.col("store.Name"),
        F.col("ha_df.NumberEmployees"),
        F.col("ha_df.BusinessType"),
        F.col("ha_df.Specialty"),
        F.col("ha_df.YearOpened"),
    )
    .agg(
        F.min(F.year(F.col("order_header.OrderDate"))).alias("FirstOrderYear"),
        F.max(F.year(F.col("order_header.OrderDate"))).alias("LastOrderYear"),
        F.month(F.max(F.col("order_header.OrderDate"))).alias("LastOrderMonth"),
    )
    .withColumn(
        "ResellerKey",
        F.row_number().over(Window.orderBy(F.col("customer.AccountNumber"))),
    )
)

DimReseller = DimReseller.select(
    "ResellerKey",
    "AddressKey",
    F.col("customer.AccountNumber").alias("ResellerAlternateKey"),
    F.col("store.Name").alias("ResellerName"),
    "NumberEmployees",
    "LastOrderMonth",
    "FirstOrderYear",
    "LastOrderYear",
    "BusinessType",
    F.col("ha_df.Specialty").alias("ProductLine"),
    "YearOpened",
)

DimReseller.printSchema()
DimReseller.show()
DimReseller.count()

root
 |-- ResellerKey: integer (nullable = false)
 |-- AddressKey: integer (nullable = false)
 |-- ResellerAlternateKey: string (nullable = true)
 |-- ResellerName: string (nullable = true)
 |-- NumberEmployees: integer (nullable = true)
 |-- LastOrderMonth: integer (nullable = true)
 |-- FirstOrderYear: integer (nullable = true)
 |-- LastOrderYear: integer (nullable = true)
 |-- BusinessType: string (nullable = true)
 |-- ProductLine: string (nullable = true)
 |-- YearOpened: integer (nullable = true)

+-----------+----------+--------------------+--------------------+---------------+--------------+--------------+-------------+------------+-----------+----------+
|ResellerKey|AddressKey|ResellerAlternateKey|        ResellerName|NumberEmployees|LastOrderMonth|FirstOrderYear|LastOrderYear|BusinessType|ProductLine|YearOpened|
+-----------+----------+--------------------+--------------------+---------------+--------------+--------------+-------------+------------+-----------+----------+
|          1|       149|          AW00029484|Next-Door Bike Store|             13|             4|          2011|         2013|          BM|   Mountain|      1996|
|          2|       399|          AW00029485|Professional Sale...|             14|             5|          2013|         2014|          BM|    Touring|      1991|
|          3|       220|          AW00029486|      Riders Company|             15|             5|          2011|         2014|          BM|       Road|      1999|
|          4|       178|          AW00029487|  The Bike Mechanics|             16|             5|          2011|         2014|          BM|   Mountain|      1994|
|          5|        70|          AW00029488|   Nationwide Supply|             17|             5|          2013|         2014|          BM|    Touring|      1987|
|          6|       483|          AW00029489|Area Bike Accesso...|              8|             3|          2011|         2014|          BM|       Road|      1982|
|          7|       339|          AW00029490|Bicycle Accessori...|              9|             1|          2012|         2013|          BM|   Mountain|      1990|
|          8|        60|          AW00029491|Clamps & Brackets...|             10|             2|          2011|         2012|          BM|   Mountain|      1985|
|          9|       266|          AW00029492|Valley Bicycle Sp...|             66|             5|          2012|         2014|          OS|   Mountain|      1979|
|         10|        92|          AW00029493|   New Bikes Company|             40|             3|          2011|         2012|          OS|       Road|      1974|
|         11|       608|          AW00029494|Vinyl and Plastic...|             43|             5|          2011|         2014|          OS|   Mountain|      1980|
|         12|       120|          AW00029495|Top of the Line B...|             46|             3|          2013|         2014|          OS|    Touring|      1986|
|         13|       360|          AW00029496|  Fun Toys and Bikes|              2|             5|          2013|         2014|          BM|    Touring|      1973|
|         14|       335|          AW00029497|        Great Bikes |              3|             3|          2011|         2014|          BM|   Mountain|      1981|
|         15|        13|          AW00029498|Metropolitan Sale...|              4|             5|          2011|         2014|          BM|       Road|      1976|
|         16|       660|          AW00029499|    Valley Toy Store|              6|             5|          2012|         2014|          BM|   Mountain|      1979|
|         17|       122|          AW00029500|Worthwhile Activi...|              7|             3|          2012|         2014|          BM|   Mountain|      1987|
|         18|         4|          AW00029501|       Purchase Mart|             49|             5|          2013|         2014|          OS|    Touring|      1992|
|         19|       336|          AW00029502|Major Sport Suppl...|             52|             3|          2013|         2014|          OS|   Mountain|      1998|
|         20|       578|          AW00029503|Family's Favorite...|             18|             3|          2012|         2014|          BM|   Mountain|      1997|
+-----------+----------+--------------------+--------------------+---------------+--------------+--------------+-------------+------------+-----------+----------+
only showing top 20 rows

635

### DimDate

In [11]:
# Define schema for the DataFrame
schema = StructType(
    [
        StructField("DateKey", IntegerType(), False),
        StructField("DateValue", DateType(), False),
        StructField("DayOfWeek", StringType(), False),
        StructField("DayOfMonth", ByteType(), False),
        StructField("WeekOfYear", ByteType(), False),
        StructField("MonthName", StringType(), False),
        StructField("MonthOfYear", ByteType(), False),
        StructField("Quarter", ByteType(), False),
        StructField("Year", ShortType(), False),
    ]
)

# Create an empty DataFrame with the defined schema
DimDate = my_spark.createDataFrame([], schema)

# Generate dates between start date and end date
start_date = "2008-01-01"
end_date = "2014-12-31"
dates = my_spark.sql(
    "SELECT sequence(to_date('{}'), to_date('{}'), interval 1 day) as date".format(
        start_date, end_date
    )
).withColumn("DateValue", explode(col("date")))

# Add other columns to the DataFrame
DimDate = (
    dates.withColumn("DateKey", expr("date_format(DateValue, 'yyyyMMdd')").cast("int"))
    .withColumn("DayOfWeek", date_format(col("DateValue"), "EEEE"))
    .withColumn("DayOfMonth", dayofmonth(col("DateValue")))
    .withColumn("WeekOfYear", weekofyear(col("DateValue")))
    .withColumn("MonthName", date_format(col("DateValue"), "MMMM"))
    .withColumn("MonthOfYear", month(col("DateValue")))
    .withColumn("Quarter", quarter(col("DateValue")))
    .withColumn("Year", year(col("DateValue")))
)
DimDate = DimDate.drop("date")
DimDate = DimDate.select(
    "DateKey",
    "DateValue",
    "DayOfWeek",
    "DayOfMonth",
    "WeekOfYear",
    "MonthName",
    "MonthOfYear",
    "Quarter",
    "Year",
)
# Show the DataFrame
DimDate.printSchema()
DimDate.show()

root
 |-- DateKey: integer (nullable = true)
 |-- DateValue: date (nullable = false)
 |-- DayOfWeek: string (nullable = false)
 |-- DayOfMonth: integer (nullable = false)
 |-- WeekOfYear: integer (nullable = false)
 |-- MonthName: string (nullable = false)
 |-- MonthOfYear: integer (nullable = false)
 |-- Quarter: integer (nullable = false)
 |-- Year: integer (nullable = false)

+--------+----------+---------+----------+----------+---------+-----------+-------+----+
| DateKey| DateValue|DayOfWeek|DayOfMonth|WeekOfYear|MonthName|MonthOfYear|Quarter|Year|
+--------+----------+---------+----------+----------+---------+-----------+-------+----+
|20080101|2008-01-01|  Tuesday|         1|         1|  January|          1|      1|2008|
|20080102|2008-01-02|Wednesday|         2|         1|  January|          1|      1|2008|
|20080103|2008-01-03| Thursday|         3|         1|  January|          1|      1|2008|
|20080104|2008-01-04|   Friday|         4|         1|  January|          1|      1|2008|
|20080105|2008-01-05| Saturday|         5|         1|  January|          1|      1|2008|
|20080106|2008-01-06|   Sunday|         6|         1|  January|          1|      1|2008|
|20080107|2008-01-07|   Monday|         7|         2|  January|          1|      1|2008|
|20080108|2008-01-08|  Tuesday|         8|         2|  January|          1|      1|2008|
|20080109|2008-01-09|Wednesday|         9|         2|  January|          1|      1|2008|
|20080110|2008-01-10| Thursday|        10|         2|  January|          1|      1|2008|
|20080111|2008-01-11|   Friday|        11|         2|  January|          1|      1|2008|
|20080112|2008-01-12| Saturday|        12|         2|  January|          1|      1|2008|
|20080113|2008-01-13|   Sunday|        13|         2|  January|          1|      1|2008|
|20080114|2008-01-14|   Monday|        14|         3|  January|          1|      1|2008|
|20080115|2008-01-15|  Tuesday|        15|         3|  January|          1|      1|2008|
|20080116|2008-01-16|Wednesday|        16|         3|  January|          1|      1|2008|
|20080117|2008-01-17| Thursday|        17|         3|  January|          1|      1|2008|
|20080118|2008-01-18|   Friday|        18|         3|  January|          1|      1|2008|
|20080119|2008-01-19| Saturday|        19|         3|  January|          1|      1|2008|
|20080120|2008-01-20|   Sunday|        20|         3|  January|          1|      1|2008|
+--------+----------+---------+----------+----------+---------+-----------+-------+----+
only showing top 20 rows

### FactResellerSales

In [12]:
order_detail_df = order_detail_df.withColumn(
    "OrderQty",
    when(col("OrderQty") < 0, col("OrderQty") * (-1)).otherwise(col("OrderQty")),
).withColumn(
    "UnitPrice",
    when(col("UnitPrice") < 0, col("UnitPrice") * (-1)).otherwise(col("UnitPrice")),
)

FactResellerSales = (
    order_header_df.alias("soh")
    .join(
        order_detail_df.alias("sod"),
        F.col("sod.SalesOrderID") == F.col("soh.SalesOrderID"),
    )
    .join(product_df.alias("p"), F.col("sod.ProductID") == F.col("p.ProductID"))
    .join(
        DimProduct.alias("dp"),
        F.col("dp.ProductAlternateKey") == F.col("p.ProductNumber"),
    )
    .join(customer_df.alias("c"), F.col("c.CustomerID") == F.col("soh.CustomerID"))
    .join(
        DimDiscount.alias("dd"), F.col("dd.DiscountKey") == F.col("sod.SpecialOfferID")
    )
    .join(
        DimSalesTerritory.alias("dst"),
        F.col("dst.SalesTerritoryKey") == F.col("soh.TerritoryID"),
    )
    .join(
        DimReseller.alias("dre"),
        F.col("dre.ResellerAlternateKey") == F.col("c.AccountNumber"),
    )
    .join(
        employee_df.alias("e"),
        F.col("soh.SalesPersonID") == F.col("e.BusinessEntityID"),
    )
    .join(
        DimEmployee.alias("de"),
        F.col("de.EmployeeNumber") == F.col("e.NationalIDNumber"),
    )
    .join(
        DimDate.alias("order_dt"),
        F.expr("order_dt.DateValue = CAST(soh.OrderDate AS DATE)"),
    )
    .join(
        DimDate.alias("due_dt"),
        F.expr("due_dt.DateValue = CAST(soh.DueDate AS DATE)"),
    )
    .join(
        DimDate.alias("ship_dt"),
        F.expr("ship_dt.DateValue = CAST(soh.ShipDate AS DATE)"),
    )
    .select(
        F.col("dp.ProductKey").alias("ProductKey"),
        F.col("order_dt.DateKey").alias("OrderDateKey"),
        F.col("due_dt.DateKey").alias("DueDateKey"),
        F.col("ship_dt.DateKey").alias("ShipDateKey"),
        F.col("dre.ResellerKey").alias("ResellerKey"),
        F.col("de.EmployeeKey").alias("EmployeeKey"),
        F.col("dd.DiscountKey").alias("DiscountKey"),
        F.col("dst.SalesTerritoryKey").alias("SalesTerritoryKey"),
        F.col("soh.SalesOrderNumber").alias("SalesOrderNumber"),
        (
            F.col("sod.SalesOrderDetailID")
            - F.min("sod.SalesOrderDetailID").over(
                Window.partitionBy("sod.SalesOrderID")
            )
            + 1
        ).alias("SalesOrderLineNumber"),
        F.col("sod.OrderQty").alias("OrderQuantity"),
        F.col("sod.UnitPrice").alias("UnitPrice"),
        F.round(F.col("sod.OrderQty") * F.col("sod.UnitPrice"), 4).alias(
            "ExtendedAmount"
        ),
        F.col("sod.UnitPriceDiscount").alias("UnitPriceDiscountPct"),
        F.round(
            F.col("sod.OrderQty")
            * F.col("sod.UnitPrice")
            * F.col("sod.UnitPriceDiscount"),
            4,
        ).alias("DiscountAmount"),
        F.round(
            F.col("sod.OrderQty")
            * F.col("sod.UnitPrice")
            * (1 - F.col("sod.UnitPriceDiscount")),
            4,
        ).alias("SalesAmount"),
        F.col("soh.OrderDate").alias("OrderDate"),
        F.col("soh.DueDate").alias("DueDate"),
        F.col("soh.ShipDate").alias("ShipDate"),
    )
    .filter(
        (F.col("soh.Status") == 5)
        & (F.col("sod.OrderQty") != 0)
        & (F.col("sod.UnitPrice") != 0)
    )
    .orderBy("OrderDateKey", "SalesOrderNumber")
)

# Show the result
FactResellerSales.printSchema()
FactResellerSales.show(5)

root
 |-- ProductKey: integer (nullable = true)
 |-- OrderDateKey: integer (nullable = true)
 |-- DueDateKey: integer (nullable = true)
 |-- ShipDateKey: integer (nullable = true)
 |-- ResellerKey: integer (nullable = false)
 |-- EmployeeKey: integer (nullable = true)
 |-- DiscountKey: integer (nullable = true)
 |-- SalesTerritoryKey: integer (nullable = true)
 |-- SalesOrderNumber: string (nullable = true)
 |-- SalesOrderLineNumber: integer (nullable = true)
 |-- OrderQuantity: integer (nullable = true)
 |-- UnitPrice: decimal(21,4) (nullable = true)
 |-- ExtendedAmount: decimal(33,4) (nullable = true)
 |-- UnitPriceDiscountPct: decimal(19,4) (nullable = true)
 |-- DiscountAmount: decimal(37,4) (nullable = true)
 |-- SalesAmount: decimal(37,4) (nullable = true)
 |-- OrderDate: timestamp (nullable = true)
 |-- DueDate: timestamp (nullable = true)
 |-- ShipDate: timestamp (nullable = true)

+----------+------------+----------+-----------+-----------+-----------+-----------+-----------------+----------------+--------------------+-------------+---------+--------------+--------------------+--------------+-----------+-------------------+-------------------+-------------------+
|ProductKey|OrderDateKey|DueDateKey|ShipDateKey|ResellerKey|EmployeeKey|DiscountKey|SalesTerritoryKey|SalesOrderNumber|SalesOrderLineNumber|OrderQuantity|UnitPrice|ExtendedAmount|UnitPriceDiscountPct|DiscountAmount|SalesAmount|          OrderDate|            DueDate|           ShipDate|
+----------+------------+----------+-----------+-----------+-----------+-----------+-----------------+----------------+--------------------+-------------+---------+--------------+--------------------+--------------+-----------+-------------------+-------------------+-------------------+
|       776|    20110531|  20110612|   20110607|        342|        279|          1|                5|         SO43659|                   1|            1|2024.9940|     2024.9940|              0.0000|        0.0000|  2024.9940|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|
|       777|    20110531|  20110612|   20110607|        342|        279|          1|                5|         SO43659|                   2|            3|2024.9940|     6074.9820|              0.0000|        0.0000|  6074.9820|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|
|       778|    20110531|  20110612|   20110607|        342|        279|          1|                5|         SO43659|                   3|            1|2024.9940|     2024.9940|              0.0000|        0.0000|  2024.9940|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|
|       771|    20110531|  20110612|   20110607|        342|        279|          1|                5|         SO43659|                   4|            1|2039.9940|     2039.9940|              0.0000|        0.0000|  2039.9940|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|
|       772|    20110531|  20110612|   20110607|        342|        279|          1|                5|         SO43659|                   5|            1|2039.9940|     2039.9940|              0.0000|        0.0000|  2039.9940|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|
+----------+------------+----------+-----------+-----------+-----------+-----------+-----------------+----------------+--------------------+-------------+---------+--------------+--------------------+--------------+-----------+-------------------+-------------------+-------------------+
only showing top 5 rows

# FactClassifiedReseller

In [13]:
windowSpec = Window.partitionBy("ResellerKey").orderBy("Year", "Month")

temp_df = FactResellerSales.alias("frs").select(
    col("frs.ResellerKey"),
    col("frs.OrderDateKey"),
    col("frs.OrderDate"),
    col("frs.SalesAmount"),
)

all_combinations_df = (
    DimReseller.alias("dre")
    .crossJoin(DimDate.alias("dd"))
    .select(
        col("dre.ResellerKey"),
        col("dd.DateKey").alias("OrderDateKey"),
        col("dre.NumberEmployees"),
        col("dd.MonthOfYear"),
        col("dd.Year"),
    )
)

final_result_df = (
    all_combinations_df.join(
        temp_df,
        [
            all_combinations_df.ResellerKey == temp_df.ResellerKey,
            all_combinations_df.OrderDateKey == temp_df.OrderDateKey,
        ],
        "left_outer",
    )
    .select(
        all_combinations_df.ResellerKey,
        all_combinations_df.NumberEmployees,
        all_combinations_df.Year,
        all_combinations_df.MonthOfYear.alias("Month"),
        F.coalesce(temp_df.SalesAmount, F.lit(0)).alias("SalesAmount"),
    )
    .filter(all_combinations_df.Year > 2010)
)

result_df = (
    final_result_df.alias("frd")
    .groupBy(
        col("frd.ResellerKey"),
        col("frd.NumberEmployees"),
        col("frd.Year"),
        col("frd.Month"),
    )
    .agg(sum(col("frd.SalesAmount")).alias("TotalSalesAmount"))
    .orderBy("ResellerKey", "Year", "Month")
)

# Calculate the sum of sales for 1 month ago
result_df = result_df.withColumn(
    "SalesLastMonth", lag("TotalSalesAmount").over(windowSpec)
)

# Calculate the sum of sales for 2 months ago
result_df = result_df.withColumn(
    "SalesOf2MonthsAgo", lag("TotalSalesAmount", 2).over(windowSpec)
)
result_df = result_df.na.fill(0)
result_df = result_df.filter(result_df.TotalSalesAmount != 0)
result_df = result_df.withColumn(
    "TotalSalesAmount", col("TotalSalesAmount").cast("double")
)
result_df = result_df.withColumn("SalesLastMonth", col("SalesLastMonth").cast("double"))
result_df = result_df.withColumn(
    "SalesOf2MonthsAgo", col("SalesOf2MonthsAgo").cast("double")
)

result_df = result_df.withColumn(
    "Label",
    when(
        col("NumberEmployees") >= 20,
        when(
            (
                (col("TotalSalesAmount") >= 5231)
                | (col("SalesLastMonth") > 4000)
                | (col("SalesOf2MonthsAgo") > 2020)
            ),
            when(((col("Month") >= 8) | (col("Month") < 2)), lit("VIP")).otherwise(
                when(
                    ((col("Month") >= 2) & (col("Month") < 8)), lit("NORMAL")
                ).otherwise(lit("NORMAL"))
            ),
        ).otherwise(lit("NORMAL")),
    ).otherwise(
        when(
            (
                (col("TotalSalesAmount") >= 2422.5)
                | (col("SalesLastMonth") > 2500)
                | (col("SalesOf2MonthsAgo") > 0)
            ),
            when(((col("Month") >= 8) | (col("Month") < 2)), lit("VIP")).otherwise(
                when(((col("Month") >= 2) & (col("Month") < 8)), lit("VIP")).otherwise(lit("NORMAL"))
            ),
        ).otherwise(lit("NORMAL"))
    ),
)

result_df.printSchema()
result_df.show()
# output_csv_path = "./result.csv"
# result_df.write.csv(output_csv_path, header=True, mode="overwrite")

root
 |-- ResellerKey: integer (nullable = false)
 |-- NumberEmployees: integer (nullable = true)
 |-- Year: integer (nullable = false)
 |-- Month: integer (nullable = false)
 |-- TotalSalesAmount: double (nullable = true)
 |-- SalesLastMonth: double (nullable = true)
 |-- SalesOf2MonthsAgo: double (nullable = true)
 |-- Label: string (nullable = false)

+-----------+---------------+----+-----+----------------+--------------+-----------------+------+
|ResellerKey|NumberEmployees|Year|Month|TotalSalesAmount|SalesLastMonth|SalesOf2MonthsAgo| Label|
+-----------+---------------+----+-----+----------------+--------------+-----------------+------+
|          1|             13|2011|    8|        4049.988|           0.0|              0.0|   VIP|
|          1|             13|2012|    1|        4079.988|           0.0|              0.0|   VIP|
|          1|             13|2012|    4|       1104.9968|           0.0|              0.0|NORMAL|
|          1|             13|2012|    7|      27429.5294|           0.0|              0.0|   VIP|
|          1|             13|2012|   10|      32562.6538|           0.0|              0.0|   VIP|
|          1|             13|2013|    1|      24232.7654|           0.0|              0.0|   VIP|
|          1|             13|2013|    4|      37643.0609|           0.0|              0.0|   VIP|
|          2|             14|2013|    7|      29133.4712|           0.0|              0.0|   VIP|
|          2|             14|2013|   10|      28413.4274|           0.0|              0.0|   VIP|
|          2|             14|2014|    1|       22021.782|           0.0|              0.0|   VIP|
|          2|             14|2014|    5|       33319.986|           0.0|              0.0|   VIP|
|          3|             15|2011|    8|      16667.3077|           0.0|              0.0|   VIP|
|          3|             15|2011|   10|      67369.2136|           0.0|       16667.3077|   VIP|
|          3|             15|2012|    1|      54979.9007|           0.0|              0.0|   VIP|
|          3|             15|2012|    4|      60079.0221|           0.0|              0.0|   VIP|
|          3|             15|2012|    7|      61492.5041|           0.0|              0.0|   VIP|
|          3|             15|2012|   10|      54184.2506|           0.0|              0.0|   VIP|
|          3|             15|2013|    1|      41071.8424|           0.0|              0.0|   VIP|
|          3|             15|2013|    4|      47192.4665|           0.0|              0.0|   VIP|
|          3|             15|2013|    7|       34891.325|           0.0|              0.0|   VIP|
+-----------+---------------+----+-----+----------------+--------------+-----------------+------+
only showing top 20 rows

# Load

In [25]:
def get_dw_tbl_names(spark, db):
    try:
        table_names = []
        dfs = load_jdbc(spark, db)
        data_collect = dfs.collect()
        for row in data_collect:
            table_names.append(row["full_table_name"])
        return table_names
    except Exception as e:
        print("Data extract error: " + str(e))
        return []

def load_to_dw(spark, db):
    try:
        tbl_names = get_dw_tbl_names(spark, db)
        # tbl_names = tbl_names[0 : len(tbl_names) - 1]

        dataframes_list = [
            DimProductCategory,
            DimProductSubcategory,
            DimProduct,
            DimDate,
            DimDiscount,
            DimSalesTerritory,
            DimAddress,
            DimReseller,
            DimEmployee,
            FactResellerSales,
            result_df,
        ]

        dataframe_table_mapping = dict(zip(dataframes_list, tbl_names))

        for dataframe, table_name in dataframe_table_mapping.items():
            # Save the DataFrame to the corresponding table
            dataframe.write.mode("append").format("jdbc").option(
                "url",
                f"jdbc:sqlserver://localhost:1433;databaseName={db};integratedSecurity=true;encrypt=true;trustServerCertificate=true;authenticationScheme=nativeAuthentication",
            ).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").option(
                "user", "INSPIRON7620\dpl2k"
            ).option(
                "password", ""
            ).option(
                "dbtable", table_name
            ).save()

            print(f"Data loaded successfully to {table_name}")
    except Exception as e:
        print("Data load error: " + str(e))


load_to_dw(my_spark, "CompanyXDW")

Data loaded successfully to dbo.DimProductCategory
Data loaded successfully to dbo.DimProductSubcategory
Data loaded successfully to dbo.DimProduct
Data loaded successfully to dbo.DimDate
Data loaded successfully to dbo.DimDiscount
Data loaded successfully to dbo.DimSalesTerritory
Data loaded successfully to dbo.DimAddress
Data loaded successfully to dbo.DimReseller
Data loaded successfully to dbo.DimEmployee
Data loaded successfully to dbo.FactResellerSales
Data loaded successfully to dbo.FactClassifiedReseller